{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="uk-text-center">Team Members</h1>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    
    <!-- Pranshu -->
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="100" height="100" src="{% static 'images/pranshu.jpeg' %}">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Pranshu Kumar Gond</h3>
                        <p class="uk-text-meta uk-margin-remove-top">18110124</p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Computer Science and Engineering, Senior Undergraduate</p>
                <p>IIT Gandhinagar</p>
            </div>
        </div>
    </div>


    <!-- Tanishque -->
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="100" height="100" src="{% static 'images/tanishque.jpeg' %}">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Tanishque Zaware</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01,
                                2016</time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Computer Science and Engineering, Senior Undergraduate</p>
                <p>IIT Gandhinagar</p>            
            </div>
        </div>
    </div>

    <!-- Prasad -->
</div>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="100" height="100" src="{% static 'images/prasad.jpg' %}">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Prasad Athave</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01,
                                2016</time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Computer Science and Engineering, Senior Undergraduate</p>
                <p>IIT Gandhinagar</p>            
            </div>

        </div>
    </div>


    <!-- Shardul -->
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="100" height="100" src="{% static 'images/shardul.jpg' %}">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Shardul Kulkarni</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01,
                                2016</time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Computer Science and Engineering, Senior Undergraduate</p>
                <p>IIT Gandhinagar</p>            
            </div>

        </div>
    </div>
</div>
{% endblock %}